a {
	text-decoration: none;

	/* This removes the underline */
	color: inherit;

	/* This makes the link color the same as the parent element, or you can set a specific color */
}

/* style for contactus.html */
html,
contactus {
	background-color: #D2DACE;
}

.contact-us-image {
	width: 30%;

	/* Set the width to 50% of the containing element */
	height: auto;
	position: absolute;
	left: 32%;

	/* Maintain the aspect ratio */
}

.contact-head {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 60px;
	text-align: center;
}

.contact-p {
	color: black;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	justify-content: center;
	font-family: "DM serif Text", serif;
	letter-spacing: 1.2px;
	font-style: normal;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	margin-top: -70px;
}

.button-backtohome {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	position: absolute;
	top: 97%;
	left: 42%;
	font-size: 18px;
}

.email-link {
	text-decoration: underline;
}

@media (width <=768px) {
	.button-backtohome {
		top: 78%;
		left: 37%;
	}

	.contact-p {
		font-size: 12px;
		line-height: 20px;
		margin-left: 50px;
		margin-right: 50px;
		text-align: center;
	}

	.contact-head {
		font-size: 40px;
	}

	.contact-us-image {
		top: 40%;
	}
}

@media (width <=375px) {
	.contact-head {
		font-size: 30px;
	}

	.contact-p {
		font-size: 12px;
		line-height: 20px;
		margin-left: 50px;
		margin-right: 50px;
		text-align: center;
	}

	.button-backtohome {
		left: 30%;
		top: 85%;
	}

	.contact-us-image {
		top: 58%;
		left: 35%;
	}
}

/* style for about.html */
.header {
	position: relative;
	height: 120px;
	background-color: #0A3622;
}

.text-content {
	color: var(--gray-900, #0A3622);
	font-family: "DM Serif Text", serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
}

.sustain-intro {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 72px;
	margin-top: -100px;
}

.intro-p {
	color: var(--gray-900, #0A3622);
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	justify-content: center;
	margin-top: -90px;
	font-family: "DM serif Text", serif;
	letter-spacing: 1.2px;
	font-style: normal;
}

.wave {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	transform: translateY(60%);
}

.wave-filled svg {
	width: 105%;
	height: auto;
	margin-left: -1%;
	fill: #D2DACE;
}

@media (width <=375px) {
	.header {
		width: 150%;
	}

	.sustainu {
		font-weight: 600;
		font-size: 55px;
		position: absolute;
		top: 8%;
		left: 50%;
	}

	.intro-p {
		display: flex;
		width: 450px;
		height: 110px;
		font-size: 18.3px;
		margin-top: 120px;
		flex-direction: column;
		justify-content: center;
	}

	.image-content {
		display: none;
	}

	.drive h2,
	.approach h2,
	.drive p,
	.approach p {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		width: 460px;
	}
}

/* Styles for drive and approach sections */
.drive,
.approach {
	margin-left: 50px;
	margin-right: 20px;
	color: #000;
	font-family: "DM serif Text", serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
	letter-spacing: 0.5px;
}

.drive h2,
.approach h2 {
	font-size: 35px;
	color: #0A3622;
	margin-bottom: 30px;
}

/* Footer and contact button styles */
.footer {
	background-color: #D2DACE;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	margin-top: 50px;
}

.button-contact-about {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	top: 153%;
	left: 45%;
	font-size: 18px;
}

@media (width <=768px) {
	.button-contact-about {
		top: 105%;
		left: 40%;
	}
}

@media (width <=375px) {
	.button-contact-about {
		position: absolute;
		top: 150%;
		left: 55%;
	}

	.drive,
	.approach {
		text-align: center;
	}
}


.wave-transparent {
	fill: #0A3622;
	transform: scaleX(-1) scaleY(-1);
	position: absolute;
}

.wave-news {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	transform: translateY(60%);
}

.wave-news svg {
	width: 105%;
	height: auto;
	margin-left: -1%;
	fill: #D2DACE;
}


nav {
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0 20px;
	position: relative;
}

/* Main content styles */
.grid-container {
	display: grid;
	grid-template-columns: 7fr 4fr;
	align-items: center;
	gap: 35px;
	margin-left: 50px;
	margin-right: 30px;
}

.image-content img {
	width: 100%;
	height: auto;
}

.news-page {
	background-color: #D2DACE;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.air-pollution-article {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 8fr;
	align-items: center;
	gap: 35px;
	margin-left: 50px;
	margin-right: 30px;
}

/* climate changes */
.content-box-climate-changes {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: white;
	height: 100%;

}

.content-image-climate-changes {
	width: 100%;
	display: block;

}

.text-content-climate-changes {
	background: white;
	padding: 9px;
}

.text-content-climate-changes h1 {
	color: #000;
	font-size: 35px;
}

.text-content-climate-changes p {
	color: #333;
	font-size: 20px;
}

/* electric-car */
.content-box-electric-car {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: white;
}

.content-image-electric-car {
	width: 100%;
	max-width: none;
	display: block;
}

.text-content-electric-car {
	background: white;
	padding: 9px;
}

.text-content-electric-car h1 {
	color: #28A745;
	font-size: 25px;
}

.text-content-electric-car h2 {
	color: #333;
	font-size: 35px;
}

/* sweat */
.content-box-sweat {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: white;
	height: 100%;
}

.content-image-sweat {
	width: 100%;
	display: block;
}

.text-content-sweat {
	background: white;
	padding: 9px;
}

.text-content-sweat h1 {
	color: #333;
	font-size: 30px;
}

.text-content-sweat h2 {
	color: #28A745;
	font-size: 25px;
}

/* sweat */
.article-row {
	display: grid;
	grid-template-columns: 5fr 5fr 5fr;
	align-items: center;
	gap: 35px;


}

.article {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

/* Responsive layout for smaller screens */
@media (width <=768px) {
	.article-row {
		flex-direction: column;
	}

	.article {
		width: 100%;
		margin-bottom: 20px;
	}
}

.article-info {
	color: #28A745;
	font-family: "DM serif Text", serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
}

.article-content {
	color: #000;
	font-family: Inter, serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.article-title {
	color: #000;
	font-family: "DM serif Text", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.button-contact {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	position: absolute;
	top: 90%;
	left: 3%;
	font-size: 18px;
}

@media (width <=375px) {
	.news-page {
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin-left: 28%;
		width: 100%;
	}

	.air-pollution-article {
		width: 100%;
		/* Full width */
		display: flex;
		flex-direction: column;
		/* Stack the image and text */
		align-items: center;
		/* Center-align the flex items */
		padding: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	.air-pollution-article img {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.article-row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* Center-align the content boxes */
	.content-box-climate-changes,
	.content-box-electric-car,
	.content-box-sweat {
		max-width: 100%;
		margin: 0;
	}
}



.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: grey;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	border-radius: 10px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-buttons {
	text-align: right;
}

.close-button {
	background-color: #ccc;
	color: #000;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

.reset-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

/* cup selection */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999;
	width: 100%;
	height: 100%;
	background-image: url('../images/1.png');
	background-size: cover;
	background-position: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -998;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 30%);
}

.center-reset {
	position: fixed;
	top: 10%;
	right: 5%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}


.center-text {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 45px;
	width: 100%;
	font-weight: bold;
	color: black;
	font-family: BioRhyme, serif;
}

.back-button1 {
	position: fixed;
	top: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	left: 40%;
}


.back-button2 {
	position: fixed;
	top: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	left: 40%;
}

.looksgood-button2 {
	position: fixed;
	top: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	left: 60%;
}

.image-container {
	text-align: center;
	margin-top: 10%;
}

.image-container img {
	max-width: 100%;
	max-height: 400px;
}

/* cup selection */
.previous-image {
	position: absolute;
	top: 50%;
	left: 20%;
	background-color: transparent;
}

.next-image {
	position: absolute;
	top: 50%;
	right: 20%;
	background-color: transparent;
}

.previous-image-color {
	position: absolute;
	top: 50%;
	left: 20%;
	background-color: transparent;
}

.next-image-color {
	position: absolute;
	top: 50%;
	right: 20%;
	background-color: transparent;
}

#two {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.image-container-result {
	background-color: whitesmoke;
	display: flex;
	margin-top: 15%;
	border-radius: 8px;
	padding: 2%;
}

.looksgood-button1 {
	position: fixed;
	top: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	left: 60%;
}

@media (width <=768px) {
	.looksgood-button1 {
		top: 90%;
		left: 70%;
		width: 200px;
		height: 28px;
	}

	.back-button1 {
		top: 90%;
		left: 30%;
	}
}

.image-container img,
#prevBtn img,
#nextImageTrigger img {
	cursor: pointer;
}

#prevBtn,
#nextImageTrigger {
	position: absolute;
	top: 50%;
}

#prevBtn {
	left: 20%;
}

#nextImageTrigger {
	right: 20%;
}

#prevBtn img,
#nextImageTrigger img {
	width: 50px;
}

/*style for color selection*/
@media (width <=768px) {
	.looksgood-button2 {
		top: 90%;
		left: 70%;
		width: 180px;
		height: 28px;
	}

	.back-button2 {
		top: 90%;
		left: 30%;
	}
}

/* style for index.html */
.home-page {
	background-image: url('../images/home-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.header-home {
	position: relative;
	height: 12.85%;
}

.wave-transparent {
	fill: #0A3622;
	transform: scaleX(-1) scaleY(-1);
	position: absolute;
	top: 0;
	bottom: auto;
	height: 100%;
}

.cupology {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 50px;
	position: absolute;
	top: 8%;
	left: 46%;
}

.slogan {
	font-family: "DM serif Text", serif;
	font-size: 35px;
	font-style: normal;
	font-weight: 350;
	line-height: 40px;
	position: absolute;
	top: 43%;
	left: 47%;
}

.button-get-started {
	display: inline-block;
	padding: 14px 48px;
	margin: 5px;
	border-radius: 7px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	position: absolute;
	font-size: 32px;
	top: 80%;
	left: 47%;
}

@media (width <=768px) {
	.wave-transparent svg {
		height: 100%;
	}

	.cupology {
		font-size: 40px;
		left: 25%;
		top: 10%;
	}

	.slogan {
		line-height: 45px;
		top: 35%;
		left: 8%;
		font-size: 28px;
		text-align: center;
	}

	.button-get-started {
		top: 70%;
		left: 32%;
	}

	.button-contact {
		top: 85%;
		left: 40%;
	}

}

@media (width <=375px) {
	.cupology {
		font-size: 28px;
		left: 25%;
		top: 18%;
	}

	.slogan {
		line-height: 30px;
		top: 35%;
		left: 28%;
		font-size: 20px;
	}

	.button-get-started {
		top: 60%;
		left: 28%;
	}

	.button-contact {
		top: 80%;
		left: 42%;
	}
}

#three {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;

}

.image-container-big {
	display: flex;
	justify-content: center;
}

.image-container-text-container {
	padding: 3%;
}

/*media query for type selection*/
@media (width <=768px) {
	.center-text {
		font-size: 25px;
		top: 20%;
	}

	.image-container {
		margin-top: 30%;
		max-height: 200px;
	}
}

@media (width <=375px) {
	.image-container {
		margin-top: 50%;
	}
}

.three-heading {
	font-size: 35px;
	color: #0A3622;
	margin-bottom: 10px;
}

.three-text {
	color: black;
}

.button-ordernow {
	position: absolute;
	top: 80%;
	left: 55%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5rem;
	font-family: "DM serif Text", serif;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
}

#four {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}


/* Adjust the background position */
.thankyou-head {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 60px;
	text-align: center;

	@media (width <=375px) {
		font-size: 35px;
	}
}

.thankyou-p {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 30px;
	text-align: center;

	@media (width <=375px) {
		font-size: 18px;
	}
}

.button-backtohome-thankyou {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	position: absolute;
	top: 55%;
	left: 55%;
	font-size: 18px;

	@media (width >=375px) {
		top: 50%;
		left: 30%;
	}

	@media (width >=768px) {
		top: 50%;
		left: 55%;
	}

}

.button-start-new-design {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	position: absolute;
	top: 55%;
	left: 30%;
	font-size: 18px;

	@media (width >=375px) {
		top: 60%;
		left: 27%;
	}

	@media (width >=768px) {
		top: 50%;
		left: 26%;
	}
}