a {
	text-decoration: none;

	/* This removes the underline */
	color: inherit;

	/* This makes the link color the same as the parent element, or you can set a specific color */
}

.home-page {
	background-image: url('/images/home-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.text-content {
	color: var(--gray-900, #0A3622);
	font-family: "DM Serif Text", serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
}

.sustainu {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 72px;
	margin-top: -100px;
}

.intro-p {
	color: var(--gray-900, #212529);
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	justify-content: center;
	margin-top: -90px;
	font-family: "DM serif Text", serif;
	letter-spacing: 1.2px;
	font-style: normal;
}


.header {
	position: relative;
	height: 120px;
	background-color: #0e1e25;
}

.wave {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	transform: translateY(60%);
}

.wave-filled svg {
	width: 105%;
	height: auto;
	margin-left: -1%;
	fill: #D2DACE;
}

.wave-transparent svg {
	fill: black;
	transform: scaleX(-1) scaleY(-1);
}


nav {
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0 20px;
}

/* Main content styles */
.grid-container {
	display: grid;
	grid-template-columns: 7fr 4fr;
	align-items: center;
	gap: 35px;
	margin-left: 50px;
	margin-right: 30px;
}

.image-content img {
	width: 100%;
	height: auto;
}

/* Styles for drive and approach sections */
.drive,
.approach {
	margin-left: 50px;
	margin-right: 20px;
	color: #000;
	font-family: "DM serif Text", serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
	letter-spacing: 0.5px;
}

.drive h2,
.approach h2 {
	font-size: 35px;
	color: #0A3622;
	margin-bottom: 30px;
}

/* Footer and contact button styles */
footer {
	background-color: #D2DACE;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	margin-top: 50px;
}

.contact-button-about-us {
	display: inline-block;
	background-color: #06281E;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	transition: background-color 0.3s ease;
	text-decoration: none;
	font-weight: 700;
}

.news-page {
	background-color: #D1E7DD;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.air-pollution-article {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 8fr;
	align-items: center;
	gap: 35px;
	margin-left: 50px;
	margin-right: 30px;
}

/* climate changes */
.content-box-climate-changes {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: white;
	height: 100%;

}

.content-image-climate-changes {
	width: 100%;
	display: block;

}

.text-content-climate-changes {
	background: white;
	padding: 9px;
}

.text-content-climate-changes h1 {
	color: #000;
	font-size: 35px;
}

.text-content-climate-changes p {
	color: #333;
	font-size: 20px;
}

/* electric-car */
.content-box-electric-car {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: white;
}

.content-image-electric-car {
	width: 100%;
	max-width: none;
	display: block;
}

.text-content-electric-car {
	background: white;
	padding: 9px;
}

.text-content-electric-car h1 {
	color: #28A745;
	font-size: 25px;
}

.text-content-electric-car h2 {
	color: #333;
	font-size: 35px;
}

/* electric car */

/* sweat */
.content-box-sweat {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: white;
	height: 100%;
}

.content-image-sweat {
	width: 100%;
	display: block;
}

.text-content-sweat {
	background: white;
	padding: 9px;
}

.text-content-sweat h1 {
	color: #333;
	font-size: 30px;
}

.text-content-sweat h2 {
	color: #28A745;
	font-size: 25px;
}

/* sweat */


.article-row {
	display: grid;
	grid-template-columns: 5fr 5fr 5fr;
	align-items: center;
	gap: 35px;
}

.article {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

/* Responsive layout for smaller screens */
@media (width <= 768px) {
	.article-row {
	  flex-direction: column;
	}
  
	.article {
	  width: 100%;
	  margin-bottom: 20px;
	}
  }

.article-info {
	color: #28A745;
	font-family: "DM serif Text", serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
}

.article-content {
	color: #000;
	font-family: Inter, serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.article-title {
	color: #000;
	font-family: "DM serif Text", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.cupology {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme, serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 60px;
	position: absolute;
	top: 8%;
	left: 46%;
}

.slogan {
	font-family: "DM serif Text", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	position: absolute;
	top: 37%;
	left: 47%;
}

.button-contact {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	position: absolute;
	top: 90%;
	left: 3%;
	font-size: 18px;
}

.button-get-started {
	display: inline-block;
	padding: 14px 48px;
	margin: 5px;
	border-radius: 7px;
	text-decoration: none;
	color: white;
	background-color: #06281E;
	transition: background-color 0.3s ease;
	position: absolute;
	font-size: 32px;
	top: 63%;
	left: 47%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0 0 0 / 40%);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	border-radius: 10px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-buttons {
	text-align: right;
}

.close-button {
	background-color: #ccc;
	color: #000;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

.reset-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

/* cup selection */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999;
	width: 100%;
	height: 100%;
	background-image: url('/images/1.png');
	background-size: cover;
	background-position: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -998;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 30%);
}

.center-reset {
	position: fixed;
	top: 10%;
	right: 5%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.center-text {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	color: #000;
}

.center-button {
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #122603;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.image-container {
	text-align: center;
	margin-top: 10%;
}

.image-container img {
	max-width: 100%;
	max-height: 400px;
}

/* cup selection */