.whole-page {
	background-color: #D2DACE;
}

.text-content {
	color: var(--gray-900, #0A3622);
	font-family: DM Serif Text;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
}

.sustainu {
	color: var(--green-800, #0A3622);
	font-family: BioRhyme;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 72px;
	margin-top: -100px;
}

.intro-p {
	color: var(--gray-900, #212529);
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	justify-content: center;
	margin-top: -90px;
	font-family: DM Serif Text;
	letter-spacing: 1.2px;
	font-style: normal;
}


.header {
	position: relative;
	overflow: hidden;
	height: 120px;
	background-color: #0e1e25;
}

.wave {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	transform: translateY(60%);
}

.wave svg {
	width: 105%;
	height: auto;
	margin-left: -1%;
	fill: #D2DACE;
}

nav {
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0 20px;
}

/* Main content styles */
.grid-container {
	display: grid;
	grid-template-columns: 7fr 4fr;
	/* Creates two columns of equal width */
	align-items: center;
	/* Vertically aligns the grid items */
	gap: 35px;
	/* Adds space between the columns */
	margin-left: 50px;
	margin-right: 30px;
}

.image-content img {
	width: 100%;
	/* Ensures the image is responsive and fills its container */
	height: auto;
	/* Maintains the aspect ratio of the image */
}

/* Styles for drive and approach sections */
.drive,
.approach {
	margin-left: 50px;
	margin-right: 20px;
	color: #000;
	font-family: DM Serif Text;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
	letter-spacing: 0.5px;
	/* 166.667% */
}

.drive h2,
.approach h2 {
	font-size: 35px;
	/* Size of section headings */
	color: #0A3622;
	/* Color of section headings */
	margin-bottom: 30px;
}

/* Footer and contact button styles */
footer {
	background-color: #D2DACE;
	/* Footer background */
	color: #fff;
	/* Footer text color */
	text-align: center;
	padding: 20px 0;
	margin-top: 50px;
}

.contact-button {
	display: inline-block;
	background-color: #06281E;
	/* Button color */
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	transition: background-color 0.3s ease;
	text-decoration: none;
	/* Remove underline from links */
	font-weight: 700;

	/* Bold font for button text */
}